{
  "env": {
    "BUILD": {
      "presets": [
        "es2015-rollup",
        "flow",
        "react"
      ]
    },
    "presets": [
      ["env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] } }],
      "flow",
      "react"
    ],
    "TEST": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions"] } }],
        "flow",
        "react"
      ],
      "plugins": [
        "istanbul",
        "rewire",
        ["espower", { "embedAst": true }],
        "empower-assert"
      ]
    }
  }
}